<div *ngIf="displayOptions && displayItems">
  <table class="table table-striped">
    <thead>
    <tr *ngIf="!displayOptions.hideHeader">
      <th *ngFor="let c of displayOptions.columnDefs"
        [ngClass]="c.cssClass || columnCssOverrides[c.columnName] || []">{{getColumnHeader(c.columnName)}}</th>
    </tr>
    <tr>
      <th *ngFor="let c of displayOptions.columnDefs"
          [ngClass]="c.cssClass || columnCssOverrides[c.columnName] || []">
        <div [ngSwitch]="c.filter.type">
          <div *ngSwitchCase="'none'">
            --
          </div>
          <div *ngSwitchCase="'match'">
            -- match
          </div>
          <div *ngSwitchCase="'contains'">
            <input class="form-control d-block" type="text" placeholder="{{getColumnHeader(c.columnName)}} Search"
              (input)="containsSearchOnKeyUp(c, $event)">
          </div>
          <div *ngSwitchCase="'choice'">
            -- choice
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of displayItems">
      <td *ngFor="let c of displayOptions.columnDefs"
          [ngClass]="c.cssClass || columnCssOverrides[c.columnName] || []">
        <div *ngIf="columnTemplateOverrides[c.columnName]">
          <ng-container
            *ngTemplateOutlet="columnTemplateOverrides[c.columnName]; context: { columnDef: c, dataItem: i[c.columnName] }">
          </ng-container>
        </div>
        <div *ngIf="!columnTemplateOverrides[c.columnName]">
          <ng-container
            *ngTemplateOutlet="c.templateRef ?? defaultCellTemplate; context: { columnDef: c, dataItem: i[c.columnName] }">
          </ng-container>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2 text-center">
    <ngb-pagination
      [size]="'sm'"
      [collectionSize]="filteredItems.length" [(page)]="pageIndex" [pageSize]="pageSize"
      (pageChange)="changePageIndex($event)">
    </ngb-pagination>
    <select *ngIf="false" class="form-select form-select-sm w-25" name="pageSize" (change)="changePageSize($event)">
      <option *ngFor="let c of pageSizeChoices" [value]="c" [selected]="c === pageSize">{{c}}</option>
    </select>
  </div>
</div>


<ng-template #defaultCellTemplate let-columnDef="columnDef" let-dataItem="dataItem">
  <div *ngIf="columnDef && !columnDef['isReference']" class="cell-item" [ngClass]="columnDef['type']">
    {{dataItem}}
  </div>
  <div *ngIf="columnDef && columnDef['isReference']" class="cell-item">

    <app-inspect-button
      [buttonText]="columnDef.type"
      [data]="dataItem"
    >
    </app-inspect-button>
  </div>
</ng-template>
